@mixin nessa-font-face(
    $family,
    $src: $family,
    $weight: normal,
    $style: normal,
    $woff2: true) {

    @font-face {
        font-family: $family;
        font-style: $style;
        font-weight: $weight;
        font-display: swap;

        @if $woff2 {
            src:
                url('#{$src}.woff2') format('woff2'),
                url('#{$src}.woff') format('woff');
        } @else {
            src: url('#{$src}.woff') format('woff');
        }
    }
}
