@mixin nessa-teaser($padding: false, $margin: false) {
    @if $margin != false {
        margin: $margin;
    }

    @if $padding != false {
        padding: $padding;
    }

    background: $white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgb(110 123 131 / 10%);
    transition: ease-in-out .4s;
}
