// ----------------------------------------------------------
// :: 1.2. Breakpoints
// ----------------------------------------------------------

$sm-clean__desktop-vp: breakpoint-min(md); // switch from collapsible to desktop

// ----------------------------------------------------------
// :: 1.4. Borders
// ----------------------------------------------------------

$sm-clean__border-width: 0;
$sm-clean__border-radius: 0;

// ----------------------------------------------------------
// :: 1.7. Desktop main menu
// ----------------------------------------------------------

$sm-clean__desktop-bg: transparent;
$sm-clean__desktop-border-radius: $sm-clean__border-radius;
