// Define custom variables for theme Nessa
$responsivePaddingBottom: 56% !default;
$responsiveHeight: 0 !default;
$hamburger-icon-bg-color: #555 !default;
$subline-color: #0F2F57 !default;
$zindex-header: 997;
$zindex-mobile-navigation-overlay: 9997;
$zindex-back-top-top: 99999;
$custom-navlink-color: map-get($theme-colors, 'secondary');
$custom-navlink-color-hover: map-get($theme-colors, 'primary');
$custom-navlink-color-focus: $custom-navlink-color-hover;
$custom-icon-font-family: 'IcoFont';
$logo-wrapper-default-width: 7vw !default;
$logo-wrapper-sm-width: 4vw !default;
$logo-wrapper-md-width: 4% !default;
$headings-ce-hero-font-family: $headings-font-family;

// CE-Partner
$partner-border-color: $border-color;
$partner-border-width: $border-width;
$partner-item-width: 440px;
$partner-item-width-md: 250px;

// CE-Portfolio file collections
$portfolio-file-collections-border: 3px !default;
$portfolio-file-collections-border-radius: $border-radius !default;
