.c-download-list {
  &__item {
    margin-bottom: 2em;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__headline {
    color: map-get($theme-colors, 'secondary');
    font-size: $font-size-base * 2.125;

    .c-download-list__link:hover &,
    .c-download-list__link:active & {
      color: map-get($theme-colors, 'primary');
    }
  }

  &__description {
    margin-bottom: 0;
    line-height: 24px;
  }

  &__meta {
    white-space: nowrap;
    opacity: 0;
  }

  &__link {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;

      .c-download-list__meta {
        color: map-get($theme-colors, 'primary');
        opacity: 1;
      }
    }
  }

  &__media {
    display: block;
    overflow: hidden;
    width: 30px;
    margin-top: .5em;
    margin-right: 2.0833rem;
    float: left;

    i {
      color: map-get($theme-colors, 'secondary');
    }
  }
}

.icofont-download {
  font-size: $h4-font-size;

  .c-download-list__link:hover &,
  .c-download-list__link:active & {
    color: map-get($theme-colors, 'primary');
  }
}
