.ctype-nessa {
  &_teaser_background {
    padding-top: 20px;

    a {
      position: relative;
      width: 100%;
      color: inherit;
    }

    .card-body {
      @include nessa-teaser(15px 30px);

      z-index: 10;
    }

    .card-title {
      margin-bottom: 15px;
      font-weight: $font-weight-bold;
      text-align: center;
    }

    .card {
      width: 100%;
      padding: 220px 20px 20px;
      border: 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      &:hover {
        .card-body {
          background: map-get($theme-colors, 'primary');
        }

        .card-title,
        .card-text {
          color: $white;
        }
      }
    }
  }
}
