#hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(4 12 21 / 80%);

    h2 {
        margin: 0;
        color: $white;
        font-family: $headings-ce-hero-font-family;
        font-size: $font-size-base * 3;
        font-weight: 700;
    }

    p {
        margin-top: 10px;
        color: $white;
        animation-delay: .4s;
    }
}

.carousel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(4 12 21 / 50%);
    }
}

.carousel-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .carousel-item {
        background-position: center top;
        opacity: 0;
        transition-property: opacity;
    }

    .active.carousel-item-left {
        left: 0;
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }

    .active.carousel-item-right {
        left: 0;
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }

    .active {
        opacity: 1;
        transition: .5s;
    }

    .carousel-item-next.carousel-item-left {
        opacity: 1;
        transition: .5s;
    }

    .carousel-item-prev.carousel-item-right {
        opacity: 1;
        transition: .5s;
    }

    .carousel-item-next {
        left: 0;
        transform: translate3d(0, 0, 0);
    }

    .carousel-item-prev {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
}

.carousel-container {
    position: absolute;
    top: 82px;
    right: 50px;
    bottom: 0;
    left: 50px;
    display: flex;
    align-items: center;
}

.carousel-control-next,
.carousel-control-prev {
    top: 112px;
    width: 10%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: $carousel-control-icon-width;
    height: $carousel-control-icon-width;
    padding: 10px;
    background: rgb(255 255 255 / 20%);
    color: rgb(255 255 255 / 50%);
    font-size: 36px;
    line-height: 1;
    border-radius: 50px;
    transition: .3s;

    &:hover {
        background: rgb(255 255 255 / 30%);
        color: rgb(255 255 255 / 80%);
    }
}

.carousel-indicators {
    li {
        overflow: hidden;
        border: 0;
        border-radius: 50px;
        opacity: .6;
    }
}

@include media-breakpoint-down(lg) {
    #hero {
        .carousel-control-next,
        .carousel-control-prev {
            top: 66px;
        }

        height: 100vh;

        .carousel-container {
            top: 74px;
            text-align: center;
        }
    }
}

@include media-breakpoint-down(md) {
    #hero {
        h2 {
            font-size: 30px;
        }
    }
}

@include media-breakpoint-up(xl) {
    #hero {
        p {
            width: 50%;
        }
    }
}

@media (min-width: 1024px) {
    #hero {
        .carousel-control-next,
        .carousel-control-prev {
            width: 5%;
        }
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}
