%btnBase {
    display: inline-block;
    color: $white;
    line-height: 1;
    border-radius: 4px;
}

%btnBaseHoverBackgroundWhite {
    background: $white;
    color: map-get($theme-colors, 'primary');
    border-color: $border-color;
}

%btnBaseHoverBackgroundPrimary {
    background: map-get($theme-colors, 'primary');
    color: $white;
}

%btn {
    @extend %btnBase;

    padding: 12px 30px;
    font-family: $btn-font-family;
    font-size: 14px;
    font-weight: $btn-font-weight;
    letter-spacing: 1px;
    transition: .5s;
    animation-delay: .8s;
}

.o-btn-cta-hero {
    @extend %btn;

    border: $btn-border-width solid transparent;
    margin-top: 15px;
    background: map-get($theme-colors, 'primary');

    &:hover {
        @extend %btnBaseHoverBackgroundWhite;
    }
}

.o-btn-cta {
    @extend %btn;

    border: $btn-border-width solid $border-color;
    margin: 10px;

    &:hover {
        @extend %btnBaseHoverBackgroundPrimary;
    }
}
