.mobile-nav-toggle {
  position: fixed;
  z-index: 9998;
  top: 16px;
  right: -5px;
  border: 0;
  background: none;
  font-size: 24px;
  line-height: 1;
  text-align: right;
  cursor: pointer;
  outline: none !important;
  transition: all .4s;

  @include media-breakpoint-up(sm) {
    right: 15px;
  }

  i {
    color: $custom-navlink-color;
  }
}

.mobile-nav {
  position: fixed;
  z-index: 9999;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  overflow-y: auto;
  padding: 10px 0;
  background: $white;
  border-radius: 10px;
  opacity: 0;
  transition: ease-in-out .2s;
  visibility: hidden;

  * {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: $custom-navlink-color;
    font-weight: 500;
    outline: none;

    &:hover {
      color: map-get($theme-colors, 'primary');
      text-decoration: none;
    }
  }

  .active {
    > a {
      color: $link-color;
      text-decoration: none;
    }
  }

  li {
    &:hover {
      > a {
        color: $link-color;
        text-decoration: none;
      }
    }

    &.drop-down {
      > a {
        &::after {
          content: '\ea99';
          position: absolute;
          right: 15px;
          padding-left: 10px;
          font-family: $custom-icon-font-family;
        }

        padding-right: 35px;
      }

      ul {
        display: none;
        overflow: hidden;
      }

      li {
        padding-left: 20px;
      }
    }
  }

  .active.drop-down {
    > a {
      &::after {
        content: '\eaa1';
      }
    }
  }
}

.mobile-nav-overly {
  position: fixed;
  z-index: $zindex-mobile-navigation-overlay;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgb(4 12 21 / 60%);
  transition: ease-in-out .2s;
}

.mobile-nav-active {
  overflow: hidden;

  .mobile-nav {
    opacity: 1;
    visibility: visible;
  }

  .mobile-nav-toggle {
    i {
      color: $white;
    }
  }
}
